.noticeDiv{
    height: 30vh;
}
.noticeHeading{
    color: red;
}
/* Media query for mobile screens */
@media (max-width: 768px) {
    .noticeDiv {
      padding: 15px; /* Add some padding for smaller screens */
    }
  
    .noticeHeading {
      font-size: 20px; /* Reduce the font size for smaller screens */
    }
    .noticeDiv p{
        font-size: 14px;
    }
    /* You can adjust other styles as needed for mobile responsiveness */
  }