header {
    background-color: #3997ef;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .headercontent{
    display: flex;
    flex-direction: column;
    margin-left: 240px;
  }
  .logo{
    cursor: pointer;
    margin-left: 20px;
  }
  .uniName{
    font-size: 38px;
    text-shadow: 2px 3px 5px #393939;
    letter-spacing: 0.8px;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
  }
  
  nav a:hover {
    color: #105290;
    transition: linear 0.5s;
  }
  nav a.active {
    border-bottom: 2px solid #105290;
    color: #105290;
  }
  
  /* Define a class to hide the header when printing */
@media print {
   .header {
    display: none;
  }
}